################################################################################
# GAYE Abdoulaye Walsimou, <walsimou@walsimou.com>
# Copyright(C) 2009 GAYE Abdoulaye Walsimou. All rights reserved.
# For Copyrright from linux kernel's build/configure system, see their source
#code.
#
# This program is free software; you can distribute it and/or modify it
# under the terms of the GNU General Public License
# (Version 2 or later) published by the Free Software Foundation.
#
# This program is distributed in the hope it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place - Suite 330, Boston MA 02111-1307, USA.
################################################################################
#
# \file         Kconfig
# \brief	Kconfig of Embtoolkit
# \author       GAYE Abdoulaye Walsimou, <walsimou@walsimou.com>
# \date         May 2009
################################################################################
mainmenu "Embedded toolkit configuration"

config EMBTK_DOTCONFIG
	bool
	default y

menu "Architecture Selection"
source "kconfig/arch.kconfig"
endmenu

menu "Architecture Variant and options"
source "kconfig/arch-variant.kconfig"
endmenu

menu "Toolchain configuration"
source "kconfig/toolchain.kconfig"
endmenu

menu "Target build options"
config EMBTK_TARGET_COMPILER_CFLAGS
	string "Additional compiler flags for your target"
	help
	 Here you can change default flags passed to gcc when components of your
	 embedded system target are built: C library, packages, ...
	 By default we optimize for size.
	default "-Os"
endmenu

menu "Debugging system"
source "kconfig/gdb.kconfig"
endmenu

menu "Root filesystem components and build options"
config EMBTK_HAVE_ROOTFS
	help
	 If you want to build a root filesystem, you must say yes here
	 for your target, you must yes here.
	bool "Build a root filesystem"

if EMBTK_HAVE_ROOTFS
source "kconfig/packages.kconfig"
endif
endmenu

menu "Embtoolkit build options"
config EMBTK_NUMBER_BUILD_JOBS
	int "Number of parallel build jobs"
	default 1
endmenu

