################################################################################
# GAYE Abdoulaye Walsimou, <walsimou@walsimou.com>
# Copyright(C) 2009 GAYE Abdoulaye Walsimou. All rights reserved.
# For Copyrright from linux kernel's build/configure system, see their source
# code.
#
# This program is free software; you can distribute it and/or modify it
# under the terms of the GNU General Public License
# (Version 2 or later) published by the Free Software Foundation.
#
# This program is distributed in the hope it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place - Suite 330, Boston MA 02111-1307, USA.
################################################################################
#
# \file         Kconfig
# \brief	Kconfig of Embtoolkit
# \author       GAYE Abdoulaye Walsimou, <walsimou@walsimou.com>
# \date         May 2009
################################################################################
mainmenu "Embedded systems toolkit configuration"

config EMBTK_DOTCONFIG
	bool
	default y

menu "Architecture Selection"
source "kconfig/arch.kconfig"
endmenu

menu "Architecture Variant and options"
source "kconfig/arch-variant.kconfig"
endmenu

#Give ability to build (hide) old packages, instead of remove them in Embtk.
config EMBTK_OLDPACKAGES
	bool "Show old revision of some packages"
	help
	 This will allow you to build old revisions of some packages.

menu "Toolchain configuration"
source "kconfig/toolchain.kconfig"
endmenu

menu "Target build options"
config EMBTK_TARGET_COMPILER_CFLAGS
	string "Additional compiler flags for your target"
	help
	 Here you can change default flags passed to gcc when components of your
	 embedded system target are built: C library, packages, ...
	 By default we optimize for size.
	default "-Os"
config EMBTK_TARGET_STRIPPED
	bool "Strip target's binaries"
	help
	 Say yes if you want to strip binaries (including libraries) generated
	 for your target embedded system. This will reduce the size of these
	 binaries.
	 Note: These binaries are only stripped if you choose to build a root
	 filesystem.

endmenu

menu "Debugging system"
source "kconfig/gdb.kconfig"
source "kconfig/strace.kconfig"
endmenu

config EMBTK_HAVE_ROOTFS
	bool "Build root filesystem"
	help
	 If you want to build a root filesystem for your target, and include
	 some packages within it, you must say yes here.
	 Select the root filesystem type in "Type of root filesystem to build".
	 Select packages in "Packages to include in your root filesystem".

if EMBTK_HAVE_ROOTFS
source "kconfig/fs.kconfig"
source "kconfig/packages.kconfig"
endif

menu "Embtoolkit build options"
config EMBTK_NUMBER_BUILD_JOBS
	int "Number of parallel build jobs"
	default 1

config EMBTK_DOWNLOAD_DIR
	string "Download directory"
	default "$(EMBTK_ROOT)/dl"
	help
	 Directory where downloaded packages are stored.

	 You must specify here an absolute directory location, if you choose to
	 use an alternate location.

	 Note:
	 If you want to preserve downloaded packages from being removed when
	 you do make distclean, you must specify an alternate location.
	 If you leave this option in the default location under Embtoolkit,
	 $(EMBTK_ROOT)/dl, then make distclean will remove downloaded packages.
	 But keep in mind that only a make distclean command will remove
	 downloaded packages in the default location under EmbToolkit,
	 not make clean.
endmenu

