CONFIG_EMBTK_OS_LINUX=y
CONFIG_EMBTK_ARCH_ARM=y
CONFIG_EMBTK_ARCH_ARM_FAMILY_ARM9TDMI=y
CONFIG_EMBTK_ARCH_ARM_FAMILY_ARM9TDMI_ARM920T=y
CONFIG_EMBTK_SOFTFLOAT=y
CONFIG_EMBTK_LLVM_ONLY_TOOLCHAIN=y
CONFIG_EMBTK_GCC_LANGUAGE_CPP=y
CONFIG_EMBTK_CLIB_EGLIBC=y
CONFIG_EMBTK_HAVE_GDB_SYSTEM=y
CONFIG_EMBTK_HAVE_STRACE=y
CONFIG_EMBTK_NUMBER_BUILD_JOBS=3
CONFIG_EMBTK_HAVE_ROOTFS=y
CONFIG_EMBTK_HAVE_BB=y
CONFIG_EMBTK_HAVE_GTEST=y
